@import "header";
@import "extend";
@import "mixin";
@import "maps";
@import "footer";

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: burlywood;
  }
  
  /* NAVEGACION */

.colornavbar {
    background-color: #f5cba7;
  }
  
  /* CONTACTO */
  
  .formulario {
    position: absolute;
    left: 40%;
    margin: 250px 15px 15px 15px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    max-width: 300px;
    grid-area: formulario;
  }
  
  .formularioInterno {
    background-color: rgb(232, 205, 170);
    border: none;
    border-width: 2px;
    border-color: rgb(144, 114, 74);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
  }
  
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
  }
  
  .primario, .secundario {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
  
    &:hover {
      cursor: pointer;
    }
  }

  /* CONTACTO WPP */

.Whatsapp {
    @include ubicacionPantalla(93%, 75%);
    position: fixed;
    cursor: pointer;
  }

  /* PRODUCTOS */

/* SUBTITULOS DE PRODUCTOS */

.contenedor {
  @extend .estiloContenedor;
    margin: 240px 200px 100px 800px;
  }
  
  .contenedor2 {
    @extend .estiloContenedor;
    margin: 960px 200px 100px 800px;
  }
  
  .contenedor3 {
    @extend .estiloContenedor;
    margin: 1710px 200px 100px 800px;
  }

/*INDEX*/

.padreFlex {
    background-image: url(../img/imagenprincipal.jpg);
    padding: 420px 20px 20px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* ACCESSORIES */

.flexCarteras {
    background-image: url(../img/Accessories/accessoriesFondo1.jpg);
    @extend .flexProductos1;
  }
  
  .flexAros {
    background-image: url(../img/Accessories/accessoriesFondo2.jpg);
    @extend .flexProductos2;
  }
  
  .flexReloj {
    background-image: url(../img/Accessories/accessoriesFondo3.jpg);
    @extend .flexProductos2;
  }

  /* WOMEN */

.flexVestidos {
    background-image: url(../img/Women/womenFondo1.jpg);
    @extend .flexProductos1;
  }
  
  .flexFaldas {
    background-image: url(../img/Women/womenFondo2.jpg);
    @extend .flexProductos2;
  }
  
  .flexBikinis {
    background-image: url(../img/Women/womenFondo3.jpg);
    @extend .flexProductos2;
  }

  /* MEN */

.flexCamisas {
    background-image: url(../img/Men/menFondo1.jpg);
    @extend .flexProductos1;
  }
  
  .flexSudaderas {
    background-image: url(../img/Men/menFondo2.jpg );
    @extend .flexProductos2;
  }
  
  .flexJean {
    background-image: url(../img/Men/menFondo3.jpg );
    @extend .flexProductos2;
  }
  
  .fondoFlex {
    background-image: url(../img/Contact/Contact1.jpg);
    padding: 980px 20px 25px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .productoIzquierda {
    margin-left: 5px;
    margin-bottom: 15px;
  
    img {
      @extend .imgEstilo;
      grid-area: izquierda;
    }
  }
  
  .productoCentro {
    margin-left: 5px;
    margin-bottom: 15px;
  
    img {
      @extend .imgEstilo;
      grid-area: centro;
    }
  }
  
  .productoDerecha {
    margin-left: 5px;
    margin-bottom: 15px;
  
    img {
      @extend .imgEstilo;
      grid-area: derecha;
    }
  }

/* PC */
@media (max-width:1455px) {
  .contenedor {
      width: 40%;
      margin-left: 190px;
      margin-right: auto;
  }
  .contenedor2 {
      width: 40%;
      margin-top: 2150px;
      margin-left: 190px;
      margin-right: auto;
  }
  .contenedor3 {
      width: 40%;
      margin-top: 4100px;
      margin-left: 190px;
      margin-right: auto;
  }
}

/* IPAD */
@media (max-width:768px) {
  .contenedor {
      width: 40%;
      margin-left: 190px;
      /* margin-right: auto; */
  }
  .contenedor2 {
      width: 40%;
      margin-top: 265%;
      margin-left: 190px;
      /* margin-right: auto; */
  }
  .contenedor3 {
      width: 40%;
      margin-top: 500%;
      margin-left: 190px;
      /* margin-right: auto; */
  }
}

/* IPHONE */
@media (max-width:500px) {
  .contenedor {
      width: 40%;
      margin-left: 190px;
      margin-right: auto;
  }
  .contenedor2 {
      width: 40%;
      margin-top: 265%;
      margin-left: 190px;
      /* margin-right: auto; */
  }
  .contenedor3 {
      width: 40%;
      margin-top: 480%;
      margin-left: 190px;
      /* margin-right: auto; */
  }
}